<span>

    <h3>Características</h3>
    <div>
        <ul class="list-unstyled">
            <li class="d-flex gap-2 align-items-center mb-2">
                <img class="img-fluid w-12" src="../../icons/personas.svg" width="30" alt="Icono de personas">
                <h4 class="mt-2 fs-6 fw-normal">Personas: </h4>
                <span>
                    <%= data[0].personas %>
                </span>
            </li>
            <li class="d-flex gap-2 align-items-center mb-2">
                <img class="img-fluid w-12" width="30" src="../../icons/puertas.svg" alt="Icono de puertas">
                <h4 class="mt-2 fs-6 fw-normal">Puertas: </h4>
                <span>
                    <%= data[0].puertas %>
                </span>
            </li>
            <li class="d-flex gap-2 align-items-center mb-2">
                <img class="img-fluid w-12" width="30" src="../../icons/cambio.svg" alt="Icono de caja de cambios">
                <h4 class="mt-2 fs-6 fw-normal">Cambio: </h4>
                <span>
                    <%= data[0].cambio %>
                </span>
            </li>
            <li class="d-flex gap-2 align-items-center mb-2">
                <img class="img-fluid w-12" width="30" src="../../icons/maletas.svg" alt="Icono de maletas">
                <h4 class="mt-2 fs-6 fw-normal">Maletas: </h4>
                <span>
                    <%= data[0].maletas %>
                </span>
            </li>
        </ul>
        <p class="col w-100 d-flex justify-content-between align-items-center">
            
            <span></span>
            
            
            <span
                class="bg-primary fs-5 text-center rounded-2 fw-bold p-1">
                <%= data[0].precioDia %>.00 €
            </span><i> por dia</i></p>
</span>