<body>
    <header>
        <h1>Adan's travels</h1>
        <%- include("nav") %>
    </header>
    <main>
        <h2><%= nombre %></h2>
        <p><%= descripcion %></p>
        <p><%= precio %></p>
        <img src="<%= img %>" alt="Imagen de <%= nombre %>">
    </main>
</body>